.statistics {
  max-width: 700px;
  background-color: #fff;
  padding-top: 60px;
  margin-bottom: 60px;
}
.title {
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: rgb(61, 61, 61);
  text-align: center;
  margin-bottom: 60px;
}
.stat-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  border: 1px solid rgb(77, 28, 28);
}
.label {
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgb(222, 222, 222);
}
.percentage {
  display: block;
  text-align: center;
  font-size: 26px;
  color: rgb(222, 222, 222);
}
